spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/gulimall_ums?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848

  application:
    name: gulimall-member

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml # 告诉sql映射文件位置
  global-config:
    db-config:
      id-type: auto # 设置主键自增

server:
  port: 8000
